<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'tripRouting/images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'tripRouting/styles/routing.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- jQuery and Bootstrap JS -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tripRouting/scripts/routing.js' %}"></script>
    <!-- Baidu Map -->
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=lpMMxyYU12aBGREnihgEIZzMjfo5TUY2"></script>
    <script type="text/javascript" src="{% static 'tripRouting/scripts/map.js' %}"></script>
    <title>Routing</title>
</head>
<body>
    <div id="container"></div>
    <div class="input-area">
        <label for="trip-days">Your days</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Suppose: </span>
            <input type="text" class="form-control" id="trip-days" aria-describedby="basic-addon3">
            <span class="input-group-addon">days</span>
        </div>
        <label for="trip-budget">Your budget</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" id="trip-budget" aria-describedby="basic-addon3">
            <span class="input-group-addon">.00</span>
        </div>
    </div>

    <!-- 错误提示 -->
    <div class='alert alert-heading' hidden>
        <a href='#' class='close' data-dismiss='alert'>关闭</a>
        <h4 id="notice-title"></h4>
        <h6 id="notice-text"></h6>
    </div>

    <div class="main-area" id="main-function">
        <!-- 向js传递限制信息 保持hidden -->
        <div class="constraint-info" id="city-list" hidden>
            <label for="days-info">Days: </label><input type="text" id="days-info" value=""/>
            <label for="budget-info">Budgets:</label><input type="text" id="budget-info" value=""/>
        </div>
        <div class="city-area"></div>
        <input type="button" id="continue" value="DONE>>">
    </div>
</body>
</html>