<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'tripRouting/images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'tripRouting/styles/routing.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- jQuery and Bootstrap JS -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <title>Routing</title>
</head>
<body>
<p>This is Routing Page</p>
<label for="trip-days">Your days</label>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Suppose: </span>
    <input type="text" class="form-control" id="trip-days" aria-describedby="basic-addon3">
    <span class="input-group-addon">days</span>
</div>
<label for="trip-budget">Your budget</label>
<div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" id="trip-budget" aria-describedby="basic-addon3">
    <span class="input-group-addon">.00</span>
</div>
<button id="submit">GET</button>
<div class="input-group">
    <label for="n1">Ajax result1</label><input type="text" class="form-control" id="n1" aria-describedby="basic-addon3"><br>
    <label for="n2">Ajax result2</label><input type="text" class="form-control" id="n2" aria-describedby="basic-addon3">
</div>
<script>
    $("#submit").click(function () {
        $.ajax({
            url: '/euroTrip/routing_ajax/',
            type: 'get',
            data: {
                n1: $("#trip-days").val(),
                n2: $("#trip-budget").val()
            },
            success: function (json_data) {
                $("#n1").val(json_data.n1)
                $("#n2").val(json_data.n2)

            },
        })
    })
</script>
</body>
</html>