<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'tripRouting/images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'tripRouting/styles/success.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- jQuery and Bootstrap JS -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tripRouting/scripts/success.js' %}"></script>
    <title>查看行程</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="index-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'tripRouting:index' %}" style="padding: 5px 25px 5px 15px">
                <img alt="Brand" src="{% static 'tripRouting/images/favicon.ico' %}"
                     style="height: 100%; width: inherit; padding: 0; margin: 0"/>
            </a>
            <b class="navbar-brand" style="padding-left: 0; font-size: 25px">EuroTrip</b>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'tripRouting:routing' %}">Start your EuroTrip! <span
                        class="sr-only">(current)</span></a></li>
                <li><a href="#">Learn about European</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Check Citys</a></li>
                        <li><a href="#">Check Routes</a></li>
                        <li><a href="#">Check Sceneries</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Website docs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="page-header">
    <h1>您的行程信息如下<br></h1>
</div>
<div id="result-show">
    <h3 id="result-head">行程创建时间：<small id="time"></small></h3>
    <h3 id="result-foot">行程金额与时间：</h3>
</div>
<div id="button-group">
    <a href="{% url 'tripRouting:routing' %}">
        <input type="button" class="btn btn-primary btn-default" value="重新规划行程">
    </a>
    <a href="{% url 'tripRouting:index' %}">
        <input type="button" class="btn btn-primary btn-info" value="返回主页">
    </a>
</div>
</body>
</html>